*{ box-sizing: border-box; }
body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#070707;
  color:#f5f5f5;
}

span {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: larger;
  font-style:italic;
  color: #e0a132;
}

.header{
  position: sticky;
  top:0;
  z-index: 10;
  background:#000;
  border-bottom: 2px solid #e0a132;
  padding-bottom: 15px;
  padding: 17px 7%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size:x-large;
}

.logo img{
  background: #e0a132;
  border-radius: 50%;
  width: 50px;
}

.nav .nav-link{
  color:#ddd;
  text-decoration:none;
  margin:0 10px;
  font-size:14px;
}
.nav .nav-link.active,
.nav .nav-link:hover{
  color: #e0a132;
}

.section{
  padding: 70px 7%;
}

.home, .about{
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap: 40px;
}

.content{ width: 55%; }
.content h1{
  font-size: 42px;
  margin: 0 0 12px 0;
}

.content p{ color:#cfcfcf; line-height:1.8; }

.image-box1{ width: 60%;  text-align:center; }
.image-box1 img{  border: #000 solid 1px; border-radius: 20px; max-width: 100%; }
.image-box2{ width: 50%;  text-align:center; }
.image-box2 img{  border: #000 solid 1px; border-radius: 50%; max-width: 100%; }
.image-box img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.btn{
  display:inline-block;
  margin-top: 14px auto;
  padding: 10px 18px;
  background: #e0a132;
  color:#000;
  text-decoration:none;
  border-radius: 6px;
  font-weight:bold;
}

.btn.small{ padding:8px 14px; font-size: 13px; }

.title{
  text-align:center;
  font-size: 36px;
  margin:0 0 25px 0;
}
.title span{ color: #e0a132; }

.grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.card{
  background: #121212;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 14px;
  text-align:center;
}
.card img{
  width:100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}
.card h3{ margin: 12px 0 6px; }
.card p{ color:#cfcfcf; font-size: 14px; }
.price{ color: #e0a132; font-weight:bold; margin: 8px 0; }

.gallery{
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.gallery-item img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  display: block;
  transition: 0.4s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.4s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay h3 {
  color: #d4af37; 
}

.review-card .avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #e0a132;
  margin-top: 6px;
}

.review-card{
  border: 3px solid #e0a132;
  border-radius: 20px;
}


.stars{ color: #e0a132; letter-spacing:2px; }
.order-box{
  display:flex;
  gap: 30px;
  align-items:center;
}
.form{
  width: 100%;
  background: #070707;
  border-radius: 12px;
  padding: 18px;
}
.row{
  width:100%;
  display:flex;
  gap: 14px;
  margin-bottom: 12px;
}
.field{ width:40%; }
label{ font-size: 16px; color:#cfcfcf; }
input{
  width:100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  background:#f9f7f7;
  color:#000000;
  margin-top: 6px;
}

button.btn{
  border:none;
  cursor:pointer;
}

.footer{
  border-top: 1px solid #e0a132;
  text-align:center;
  padding: 30px 10px;
  color:#cfcfcf;
}

.footer-title{
  color: #f0ede6;
  margin-bottom: 15px;
}

.contact-info{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.contact-item{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.contact-item i{
  color: #f7f5f2;
  font-size: 18px;
}

.footer span{ color: #e0a132; }

@media (max-width: 1000px){
  .grid{ grid-template-columns: repeat(2, 1fr); }
  .home, .about, .order-box{ flex-direction: column; }
  .content, .image-box, .form{ width:100%; }
  .row{ flex-direction: column; }
  .field{ width:100%; }
}